@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .h-screen-d {
    height: 100vh; /* fallback for Opera, IE and etc. */
    height: 100dvh;
  }

  .min-h-screen-d {
    min-height: 100vh; /* fallback for Opera, IE and etc. */
    min-height: 100dvh;
  }
}

/* Add an animation that gets activated on click, it should make the item with the class jump around */

.jump {
  animation: jump 2s linear infinite;
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

.per-scale {
  animation: scalePer 16s ease-in-out infinite;
}

@keyframes scalePer {
  0% {
    width: 0%;
    height: 0%;
  }
  50% {
    width: 100%;
    height: 100%;
  }
  100% {
    width: 0%;
    height: 0%;
  }
}
